@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

   body {
      background-image: url("./astonmartin.jpg");
      background-size: cover; 
      background-repeat: no-repeat; 
    }

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: rgb(106, 255, 0); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 4px 8px rgb(255, 254, 254);
    border: 2px solid #ccc;
    border-radius: 10px;
}

.logo {
    font-size: 25px;
    color: #222;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: #1743e3;
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: .5s;
    opacity: 0;
    animation: slideSci .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    border-color: #ff9500;
}

.social-media a i {
    font-size: 24px;
    color: #f40000f4;
    transform: rotate(-45deg);
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;
}

.home-content {
    max-width: 630px;
}

.home-content h1 {
    font-size: 50px;
    color: #dee1ea;
    line-height: 1.2;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    font-size: 40px;
    color: #ff0000;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    font-size: 18px;
    font-weight: 700; 
        margin: 20px 0 36px;
    color: #fafafa;
    opacity: 1;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.6s;
}
.btn {
    display: inline-block;
    padding: 10px 28px;
    background: #0ec3ff;
    border: 2px solid #17d2e3;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(228, 8, 8);
    font-size: 16px;
    color: #eaeaea;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.btn:hover {
    background: transparent;
    color: #1743e3;
}

/* KEYFRAMES ANIMATION */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}



/* Footer section styling */
.footer {
    background: #222;
    color: #eaeaea;
    padding: 40px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-social-media {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.footer-social-media a {
    color: #eaeaea;
    font-size: 24px;
    transition: .3s;
}

.footer-social-media a:hover {
    color: #1743e3;
}

.footer-categories {
    margin-left: auto;
}

.footer-categories h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-categories ul {
    list-style: none;
}

.footer-categories ul li {
    margin-bottom: 14px;
}

.footer-categories ul li a {
    color: #eaeaea;
    text-decoration: none;
    transition: .3s;
}

.footer-categories ul li a:hover {
    color: #1743e3;
}
